*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: whitesmoke;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    
}

.card-game{

    width: 50%;
    height: 50%;    
    background-color: white;
    
    
}

.red{
    
    background-image: url("./img/1200px-Palmeiras_logo.svg.png");
    background-size: cover;
}
.red:hover{
    cursor: pointer;
}
.green{
    background-image: url("./img/Santos_logo.svg.png");
    background-size: cover;
    
}
.green:hover{
    cursor: pointer;
}
.blue{
    background-image: url("./img/São_Paulo_Futebol_Clube.png");
    background-size: cover;
    
}
.blue:hover{
    cursor: pointer;
}
.yellow{
    background-image: url("./img/Corinthians_simbolo.png");
    background-size: cover;
    
}
.yellow:hover{
    cursor: pointer;
    
}
.selecionado{
    border-radius: 100px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
